<div *ngIf="!loading">
  <p-dropdown [options]="products" (onChange)="onChange()" [(ngModel)]="product" optionLabel="product"
              optionValue="value"></p-dropdown>

  <div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2">
      <h4 style="margin-bottom: 0">Chipset</h4>
      <input type="text" pInputText [(ngModel)]="chipset">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Producator</h4>
      <input type="text" pInputText [(ngModel)]="producer">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 2 || product === 3 || product === 5 || product === 6 || product === 7 || product === 8">
      <h4 style="margin-bottom: 0">Nume</h4>
      <input type="text" pInputText [(ngModel)]="name">
      <span style="padding-bottom: 20px"></span>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 6 || product === 7 || product === 8 || product === 4 || product === 2">
      <h4 style="margin-bottom: 0">Garanție</h4>
      <input type="text" pInputText [(ngModel)]="warranty">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1">
      <h4 style="margin-bottom: 0">Display</h4>
      <p-dropdown [options]="displays" (onChange)="onChange()" [(ngModel)]="display" optionLabel="product"
                  optionValue="value" placeholder="Selectează display"></p-dropdown>
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 8">
      <h4 style="margin-bottom: 0">Procesor</h4>
      <p-dropdown [options]="processors" (onChange)="onChange()" [(ngModel)]="processor" optionLabel="product"
                  optionValue="value" placeholder="Selectează procesor"></p-dropdown>
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 6 || product === 8">
      <h4 style="margin-bottom: 0">RAM total</h4>
      <input type="text" pInputText [(ngModel)]="ramTotal">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 6">
      <h4 style="margin-bottom: 0">Tip de RAM</h4>
      <input type="text" pInputText [(ngModel)]="ramType">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 6">
      <h4 style="margin-bottom: 0">Frecventa RAM</h4>
      <input type="text" pInputText [(ngModel)]="ramFrequency">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 6">
      <h4 style="margin-bottom: 0">Latența CAS</h4>
      <input type="text" pInputText [(ngModel)]="ramFormat">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 6">
      <h4 style="margin-bottom: 0">Pentru laptop?</h4>
<!--      <input type="text" pInputText [(ngModel)]="ramForLaptop">-->
      <p-dropdown [options]="decisions" (onChange)="onChange()" [(ngModel)]="decision" placeholder="Nu"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2">
      <h4 style="margin-bottom: 0">Pentru laptop?</h4>
      <!--      <input type="text" pInputText [(ngModel)]="ramForLaptop">-->
      <p-dropdown [options]="decisions" (onChange)="onChange()" [(ngModel)]="decision" placeholder="Nu"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 8">
      <h4 style="margin-bottom: 0">Memorie RAM</h4>
      <p-dropdown [options]="rams" (onChange)="onChange()" [(ngModel)]="ram" optionLabel="product"
                  optionValue="value" placeholder="Selectează memoria RAM"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1">
      <h4 style="margin-bottom: 0">Sloturi RAM</h4>
      <input type="text" pInputText [(ngModel)]="ramSlots">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 8">
      <h4 style="margin-bottom: 0">Stocare</h4>
      <p-dropdown [options]="storages" (onChange)="onChange()" [(ngModel)]="selectedStorage" optionLabel="product"
                  optionValue="value" placeholder="Selectează stocare"></p-dropdown>
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">Garantie</h4>
      <input type="text" pInputText [(ngModel)]="storageWarranty">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">Capacitate Stocare</h4>
      <input type="text" pInputText [(ngModel)]="storageCapacity">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">Tip de stocare</h4>
      <input type="text" pInputText [(ngModel)]="storageType">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">Interfata stocare</h4>
      <input type="text" pInputText [(ngModel)]="storageInterface">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">FORM FACTOR stocare</h4>
      <input type="text" pInputText [(ngModel)]="storageFormFactor">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 5">
      <h4 style="margin-bottom: 0">Viteza HDD</h4>
      <input type="text" pInputText [(ngModel)]="speed">
    </div>


    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1">
      <h4 style="margin-bottom: 0">Placă Video</h4>
      <p-dropdown [options]="graphicsCards" [(ngModel)]="graphicsCard" (onChange)="onChange()" optionLabel="product"
      optionValue="value" placeholder="Selectează placă video"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 8">
      <h4 style="margin-bottom: 0">Placă Video</h4>
      <p-dropdown [options]="desktopGraphicsCards" [(ngModel)]="graphicsCard" (onChange)="onChange()" optionLabel="product"
                  optionValue="value" placeholder="Selectează placă video"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2">
      <h4 style="margin-bottom: 0">Model</h4>
      <input type="text" pInputText [(ngModel)]="model">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2">
      <h4 style="margin-bottom: 0">Capacitate</h4>
      <input type="text" pInputText [(ngModel)]="capacity">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2">
      <h4 style="margin-bottom: 0">Tehnologie</h4>
      <input type="text" pInputText [(ngModel)]="technology">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 2 || product === 8">
      <h4 style="margin-bottom: 0">Tip</h4>
      <input type="text" pInputText [(ngModel)]="type">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Familie</h4>
      <input type="text" pInputText [(ngModel)]="family">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Model</h4>
      <input type="text" pInputText [(ngModel)]="model">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Numar core-uri</h4>
      <input type="text" pInputText [(ngModel)]="cores">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Numar thread-uri</h4>
      <input type="text" pInputText [(ngModel)]="threads">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Frecventa de baza</h4>
      <input type="text" pInputText [(ngModel)]="baseFrequency">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Frecventa maxima turbo</h4>
      <input type="text" pInputText [(ngModel)]="maxTurboFrequency">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Cache</h4>
      <input type="text" pInputText [(ngModel)]="l2_cache">
      <!--    <span class="p-ml-2"></span>-->
    </div>

<!--    <div class="p-field p-col-6 p-md-2 display-inline-block " *ngIf="product === 3">-->
<!--      <h4 style="margin-bottom: 0">Cache L3</h4>-->
<!--      <input type="text" pInputText [(ngModel)]="l3_cache">-->
<!--      &lt;!&ndash;    <span class="p-ml-2"></span>&ndash;&gt;-->
<!--    </div>-->

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Luminozitate</h4>
      <input type="text" pInputText [(ngModel)]="brightness">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Freesync</h4>
      <input type="text" pInputText [(ngModel)]="freesync">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Gsync</h4>
      <input type="text" pInputText [(ngModel)]="gsync">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Rată de refresh</h4>
      <input type="text" pInputText [(ngModel)]="refreshRate">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Rezoluție</h4>
      <input type="text" pInputText [(ngModel)]="resolution">
      <!--    <span class="p-ml-2"></span>-->
    </div>
    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Dimensiunea ecranului</h4>
      <input type="text" pInputText [(ngModel)]="screenSize">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Tehnologie</h4>
      <input type="text" pInputText [(ngModel)]="technology">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Grafica integrata</h4>
      <input type="text" pInputText [(ngModel)]="integrated_graphics">
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 3">
      <h4 style="margin-bottom: 0">Pentru laptop?</h4>
      <!--      <input type="text" pInputText [(ngModel)]="ramForLaptop">-->
      <p-dropdown [options]="decisions" (onChange)="onChange()" [(ngModel)]="decision" placeholder="Nu"></p-dropdown>
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 4">
      <h4 style="margin-bottom: 0">Monitor extern</h4>
      <p-dropdown [options]="decisions" (onChange)="onChange()" [(ngModel)]="decision" placeholder="Nu"></p-dropdown>
      <!--    <span class="p-ml-2"></span>-->
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Format</h4>
      <input type="text" pInputText [(ngModel)]="motherboardFormat">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Socket CPU suportat</h4>
      <input type="text" pInputText [(ngModel)]="cpuSocket">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Producator</h4>
      <input type="text" pInputText [(ngModel)]="chipsetProducer">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Model</h4>
      <input type="text" pInputText [(ngModel)]="chipsetModel">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Procesoare suportate</h4>
      <input type="text" pInputText [(ngModel)]="supportedCpus">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Interfață grafică</h4>
      <input type="text" pInputText [(ngModel)]="graphicalInterface">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Placă audio integrată</h4>
      <input type="text" pInputText [(ngModel)]="audioIntegrated">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Chipset audio</h4>
      <input type="text" pInputText [(ngModel)]="chipsetAudio">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Placă de rețea integrată</h4>
      <input type="text" pInputText [(ngModel)]="integratedNetworkCard">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Chipset placă de rețea</h4>
      <input type="text" pInputText [(ngModel)]="networkChipset">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nrr. de sloturi SATA III</h4>
      <input type="text" pInputText [(ngModel)]="sata3Slots">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de porturi M.2</h4>
      <input type="text" pInputText [(ngModel)]="m2Ports">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Tip de ram suportat</h4>
      <input type="text" pInputText [(ngModel)]="motherboardRamType">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Maxim de memorie RAM suportată</h4>
      <input type="text" pInputText [(ngModel)]="maxRam">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de sloturi RAM</h4>
      <input type="text" pInputText [(ngModel)]="motherboardRamSlots">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Frecvențe suportate</h4>
      <input type="text" pInputText [(ngModel)]="supportedFrequencies">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Sloturi PCI EXPRESS 4.0x16</h4>
      <input type="text" pInputText [(ngModel)]="pciExpress40x16">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Sloturi PCI EXPRESS 3.0x16</h4>
      <input type="text" pInputText [(ngModel)]="pciExpress30x16">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Sloturi PCI EXPRESS X1</h4>
      <input type="text" pInputText [(ngModel)]="pciExpressX1">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Porturi HDMI</h4>
      <input type="text" pInputText [(ngModel)]="hdmi">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Porturi display</h4>
      <input type="text" pInputText [(ngModel)]="displayPort">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe USB 2.0</h4>
      <input type="text" pInputText [(ngModel)]="usb20">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe USB 3.2 gen1 tip A</h4>
      <input type="text" pInputText [(ngModel)]="usb32Gen1TypeA">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe USB 3.2 gen 2 tip A</h4>
      <input type="text" pInputText [(ngModel)]="usb32Gen2TypeA">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe USB gen 2 type C</h4>
      <input type="text" pInputText [(ngModel)]="usb43Gen2TypeC">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe LAN RJ-45</h4>
      <input type="text" pInputText [(ngModel)]="rj45Lan">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe audio JACK</h4>
      <input type="text" pInputText [(ngModel)]="audioJack">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. mufe DVI</h4>
      <input type="text" pInputText [(ngModel)]="dvi">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe VGA</h4>
      <input type="text" pInputText [(ngModel)]="vga">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe PS/2 MOUSE</h4>
      <input type="text" pInputText [(ngModel)]="ps2Mouse">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 7">
      <h4 style="margin-bottom: 0">Nr. de mufe PS/2 Tastatură</h4>
      <input type="text" pInputText [(ngModel)]="ps2Keyboard">
    </div>


    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 7 || product === 3 || product === 6 || product === 2 || product == 5">
      <h4 style="margin-bottom: 0">Preț</h4>
      <input type="text" pInputText [(ngModel)]="price">
    </div>

    <div class="p-field p-col-6 p-md-2 display-inline-block" *ngIf="product === 1 || product === 2 || product === 3 || product === 4 || product === 5 || product === 6 || product === 7 || product === 8">
      <h4 style="margin-bottom: 0">Stoc</h4>
      <input type="text" pInputText [(ngModel)]="stock">
    </div>

  </div>


  <div class="p-field p-col-6 p-md-2" *ngIf="product === 1 || product == 5 || product == 6 || product == 2 || product == 3 || product == 7 || product === 8">
    <h4 style="margin-bottom: 0">Poza</h4>
    <p-fileUpload accept="image/*" (onSelect)="onSelect($event)" [multiple]="true"></p-fileUpload>
    <span class="p-ml-2"></span>
  </div>

  <div style="margin-bottom: 1rem"></div>

  <p-button style="margin-top: 30px" class="p-button-secondary p-ml-2" label="Salvare" (onClick)="save()"></p-button>
</div>

<div *ngIf="loading" class="wrapper">
  <mat-spinner class="inner"></mat-spinner>
</div>
