.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.withPadding {
  padding-bottom: 10px;
}

.rightToPhoto {

}

.p-galleria .p-galleria-item-nav {
  color: black !important;
}
