<div style="background: white">
  <div class="center">
    <h3 style="padding-top: 5rem">{{product.name}}</h3>
    <p-image [src]="'data:image/jpeg;base64,' + product.photo" alt="Image" width="400" height="400"
             [preview]="true">
    </p-image>
  </div>
  <h3 class="center">Pret: {{product.price}} EURO</h3>
  <p-button class="center" style="padding-bottom: 10px" label="Inapoi la lista" (onClick)="backToList()"></p-button>
  <h4 class="center">Specificatii tehnice:</h4>
  <p-accordion class="center" [multiple]="true">
<!--    selected = "true"-->
    <p-accordionTab header="Denumire" [selected]="true">
      {{product.name}}
    </p-accordionTab>
    <p-accordionTab header="Display" [selected]="true">
      <div class="withPadding"> Dimensiune:  {{laptopDto.display.screenSize}}' </div>
      <div class="withPadding"> Luminozitate: {{laptopDto.display.brightness}} </div>
      <div class="withPadding"> Freesync: {{laptopDto.display.freesync}} </div>
      <div class="withPadding"> Gsync: {{laptopDto.display.gsync}} </div>
      <div class="withPadding"> Rata de refresh: {{laptopDto.display.refreshRate}} Hz </div>
      <div class="withPadding"> Tehnologie de fabricatie: {{laptopDto.display.technology}} nm </div>
    </p-accordionTab>
    <p-accordionTab header="Procesor" [selected]="true">
      <div class="withPadding"> Producator: {{laptopDto.processor.producer}} </div>
      <div class="withPadding"> Nume: {{laptopDto.processor.name}} </div>
      <div class="withPadding"> Familie: {{laptopDto.processor.family}} </div>
      <div class="withPadding"> Model: {{laptopDto.processor.model}} </div>
      <div class="withPadding"> Nr de core-uri: {{laptopDto.processor.cores}} </div>
      <div class="withPadding"> Nr de thread-uri: {{laptopDto.processor.threads}} </div>
      <div class="withPadding"> Frecventa nominala: {{laptopDto.processor.baseFrequency}} Ghz </div>
      <div class="withPadding"> Frecventa maxima: {{laptopDto.processor.maxTurboFrequency}} Ghz </div>
      <div class="withPadding"> Tehnologie de fabricatie: {{laptopDto.processor.technology}} nm </div>
      <div class="withPadding"> Placa grafica integrata: {{laptopDto.processor.integratedGraphics}} </div>
    </p-accordionTab>
    <p-accordionTab header="Memorie">
      <div class="withPadding"> Tip: {{laptopDto.ramType}} </div>
      <div class="withPadding"> Frecventa: {{laptopDto.ramFrequency}} MHz </div>
      <div class="withPadding"> Nr sloturi memorie RAM: {{laptopDto.ramSlots}} </div>
      <div class="withPadding"> Total memorie RAM: {{laptopDto.ramTotal}} Gb </div>
    </p-accordionTab>
    <p-accordionTab header="Stocare">
      <div class="withPadding"> Tip stocare: {{laptopDto.storage}} </div>
      <div class="withPadding"> Capacitate stocare: {{laptopDto.storageCapacity}} Gb </div>
      <div class="withPadding"> Interfata de stocare: {{laptopDto.storageInterface}} </div>
      <div class="withPadding"> Form factor: {{laptopDto.storageFormFactor}} </div>
    </p-accordionTab>
    <p-accordionTab *ngIf="laptopDto.graphicsCard.type === 'Dedicata'" header="Placa video">
      <div class="withPadding"> Chipset: {{laptopDto.graphicsCard.chipset}} </div>
      <div class="withPadding"> Model: {{laptopDto.graphicsCard.model}} </div>
      <div class="withPadding"> Capacitate: {{laptopDto.graphicsCard.capacity}} </div>
      <div class="withPadding"> Tehnologie de fabricatie: {{laptopDto.graphicsCard.technology}} </div>
    </p-accordionTab>
  </p-accordion>
</div>
