.center {
  display: inline-block;
  margin-left: 3rem;
  margin-right: auto;
  width: 40%;
  vertical-align: top;
}

.center2 {
  display: inline-block;
  margin-left: 14rem;
  margin-right: auto;
  width: 50%;
  vertical-align: top;
}

.right {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  width: 40%;
  vertical-align: top;
}

.withPadding {
  padding-bottom: 10px;
}

.rightToPhoto {

}

.p-galleria .p-galleria-item-nav {
  color: black !important;
}

.mat-typography h3 {
  font-size: 30px;
}
